# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ZORNE_LEFT

config ZMK_KEYBOARD_NAME
	default "zorne"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_ZORNE_LEFT || SHIELD_ZORNE_RIGHT

config ZMK_SPLIT
	default y

endif
